@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


:root {
    --clr-primary: hsl(0deg, 0%, 100%);
    --clr-secondary: hsl(225deg, 100%, 98%);
    --clr-accent: hsl(227deg, 47%, 96%);
    --clr-text: hsl(230deg, 17%, 14%);
    --clr-text-pale: hsl(228deg, 12%, 44%);
    --clr-card-bg: hsl(227deg, 47%, 96%);

    --fs-200: clamp(0.78rem, calc(0.69rem + 0.43vw), 0.97rem);
    --fs-300: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.1rem);
    --fs-400: clamp(0.98rem, calc(0.84rem + 0.73vw), 1.31rem);
    --fs-500: clamp(1.11rem, calc(0.88rem + 1.13vw), 1.56rem);
    --fs-600: clamp(1.25rem, calc(0.91rem + 1.66vw), 2.0rem);
    --fs-700: clamp(1.40rem, calc(0.93rem + 2.34vw), 2.55rem);
    --fs-800: clamp(2rem, calc(1.75rem + 4vw), 3rem);
    

    --ff-base: 'Inter', system-ui, sans-serif;
}


body {
    overflow-x: hidden;
    color-scheme: light dark;
    background: linear-gradient(180deg, var(--clr-secondary)0% 200px, var(--clr-primary) 200px 100%);
    background-attachment: fixed;
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    color: var(--clr-text);
}

.dflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.wrapper {
    width: min(100vw - 4rem, 80ch);
    margin-inline: auto;
}

h1, h2, h3, strong {
    line-height: 0.9;
    font-weight: bold;
}


.flow > * + * {
    margin-top: var(--flow-gap, 1.2em);
}


.grid-flow {
    --grid-columns: 1fr;

    display: grid;
    gap: 1.75rem;
    grid-template-columns: var(--grid-columns);
}

@media (min-width: 850px) {
    .grid-flow {
        --grid-columns: repeat(4, 1fr);
    }
}






