header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2rem;
}


header .logo {
    display: grid;
    font-weight: 700;
}

header hr {
    display: block;
}

.logo h1 {
    font-size: var(--fs-500);   
}

header small {
    color: var(--clr-text-pale);
    font-size: var(--fs-300);
    font-weight: bold;
}

.logo small {
    margin-top: 0.2rem;
}

.theme {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}


.theme button {
    --theme-bg: hsl(230deg, 22%, 84%);
    --inline: auto 0;
    
    padding: 0.25rem;
    background: var(--theme-bg);
    border-radius: 10vmax;
    width: 50px;
    height: 30px;
}

.theme button span {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: var(--clr-primary);
    aspect-ratio: 1;
    height: 100%;
    margin-inline: var(--inline);
}

@media(min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header hr {
        display: none;
    }

    .theme {
        flex-grow: 0;
        width: fit-content;
        gap: 0.5rem;
    }
}






/* LCard */

.lcard { 
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 1.5rem 2rem;
    background: var(--clr-card-bg);
    border-radius: 0.25rem;
    text-align: center;
    overflow: hidden;
}

.lcard::before {
    content: '';
    position: absolute;
    inset: 0 0 auto;
    height: 5px;
    background: var(--prop-theme-card, var(--clr-text));
}

.lcard .name {
   gap: 0.5rem;
   color: var(--clr-text-pale);
   font-size: var(--fs-200);
   font-weight: bold;
}

.lcard .name img {
    width: 30px;
}

.lcard .followers {
    display: grid;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.lcard strong {
    font-size: var(--fs-800);
    letter-spacing: -2px;
}

.lcard .followers small {
    margin-top: 0.3rem;
    font-size: var(--fs-200);
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--clr-text-pale);
}

.lcard .change {
    color: var(--prop-clr-change, hsl(163deg, 72%, 41%));
    gap: 0.35rem;
    font-size: var(--fs-200);
    font-weight: bold;
}

.lcard .change img {
    width: 15px;
}



/* The Overview Section */

#overview {
    --flow-gap: 3rem;
}

#overview h2 {
    font-size: var(--fs-400); 
    color: var(--clr-text-pale);
}

#overview > ul {
    margin-top: 1.75rem;
}


/* Card Component */

.card {
    display: grid;
    gap: 2rem;
    background: var(--clr-card-bg);
    padding: 1.5rem;
    border-radius: 0.25rem;
}


.card .f {
    display: flex;
    justify-content: space-between;
    align-items: var(--items-align, center);
}

.card h3 {
    font-size: var(--fs-300);
    color: var(--clr-text-pale); 
} 


.card .f:first-child img {
    width: 25px;
    aspect-ratio: 1;
}

.card .f:nth-child(2) {
    --items-align: end;
}

.card strong {
    font-size: var(--fs-700);
    letter-spacing: -2px;
}

.card .change {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    line-height: 0.9;
    font-size: var(--fs-300);
    font-weight: bold;
    color: var(--prop-clr-change, hsl(163deg, 72%, 41%));
}


