:root {
	--step-n2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
	--step-n1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
	--step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
	--step-5: clamp(2.4994rem, 2.0462rem + 1.9658vw, 3.8147rem);


	--clr-white: hsl(0deg 0% 98%);
	--clr-w: hsl(0deg 0 100%);
	--clr-grey: hsl(0deg 0% 41%);
	--clr-black: hsl(0deg 0% 8%);

	--radius: 1vmax;



	line-height: 1.4;
	font-size: 16px;
	font-family: 'Epilogue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}


body {
	background: var(--clr-white);
	

	&.nav-open {
		height: 100vh;
		overflow-y: hidden;
	}
}



h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
	font-weight: bold;
}


img,
picture,
figure,
svg {
	max-width: 100%;
	font-style: italic;
}





// Layout
main {
	display: contents;
	margin-top: 2rem;

	&>* {
		grid-column: content;
	}
}


footer {
	margin-top: 2.5rem;
	padding-block: 1.75rem;
	color: var(--clr-grey);
	font-weight: 500;
	box-shadow: 0 0 4px -2px hsl(0deg 0% 0% / 0.5);

	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);

	a {
		color: var(--clr-black);
		font-weight: 500;
	}
}

// Utilties
[data-grid] {
	--_grid-offset: var(--grid-offset, 1rem);
	--_column-gap: var(--column-gap, 0);
	display: grid;
	gap: var(--_column-gap);
	grid-template-columns: [full-start left-start] minmax(var(--_grid-offset), 1fr) [content-start right-start] minmax(auto, 60rem) [content-end left-end] minmax(var(--_grid-offset), 1fr) [full-end right-end];
}



[data-grid] {
	&>* {
		grid-column: content;
	}

	& [data-gspace=full] {
		grid-column: full;
	}

	& [data-gspace=left] {
		grid-column: left;
	}

	& [data-gspace=right] {
		grid-column: right;
	}
}






.header {
	--padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3.5rem;
	padding: var(--padding);
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	grid-column: content;

	&-logo {
		font-size: var(--step-3);
	}


	@media (min-width: 768px) {
		& {
			--padding: 1rem 3ch;
			grid-column: full;
		}
	}
}



.nav {
	display: contents;
	color: var(--clr-grey);
	line-height: 1;

	a {
		text-decoration: none;
		color: inherit;

		&:hover,
		&:focus {
			color: var(--clr-black);
		}
	}

	ul {
		list-style: none;
	}


	&-container,
	& ul[class^=nav-] {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: var(--gap, 0.75rem);

		@media (min-width: 50rem) {
			align-items: center;
		}

	}

	&,
	&-container {
		width: 100%;
	}

	&-container {
		--gap: 1rem;
		justify-content: space-between;
	}

	& ul[class^=nav-] {
		--gap: 1.25rem;

	}


	& ul.nav-users {
		--gap: 1.5rem;

		li+li>a {
			padding: 0.75rem 1.25rem;
			border-radius: var(--radius);
			background: transparent;
			border: 1px solid currentColor;
		}

	}


	li {
		display: contents;
	}




	details {
		position: relative;

		summary {
			cursor: pointer;
			list-style: none;
			display: flex;
			align-items: center;
			gap: 0.25rem;

			&:after {
				content: '';
				background-image: url(/images/icon-arrow-down.svg);
				display: inline-flex;
				width: 10px;
				aspect-ratio: 1;
				color: transparent;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100%;
				transition: 150ms transform ease-out;
			}

			&:hover,
			&:focus {
				color: var(--clr-black);
			}
		}

		&[open] summary {
			&::after {
				transform: rotate(180deg);
			}

		}


		&[open].features {
			--inset: 1.9rem 0 auto auto;

		}

		&[open].company {
			--inset: 1.9rem auto auto 0;
		}


		&[open] ul {
			--icon-size: 1rem;
			inset: var(--inset, 1.9rem auto auto auto);
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: max-content;
			padding: 1.5rem 0rem 0.5rem 1.5rem;
			background: var(--clr-w);

			@media (min-width: 50rem) {
				position: absolute;
				box-shadow: 0 2px 8px -5px hsl(0deg 0% 0% / 0.8);
				padding: 1.5rem;
				border-radius: calc(var(--radius) / 2);
			}


			a {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5rem;
			}

			a img {
				flex: 0 0 var(--icon-size);
			}

			a span {

				line-height: 1;
			}


		}
	}

	button[title$="menu"] {
		--icon-size: 30px;
		display: none;
		place-items: center;
		place-content: center;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
		color: var(--clr-black);



	}

	svg {
		width: var(--icon-size);
		fill: currentColor;
	}





	@media (max-width: 50rem) {
		&-container {
			position: fixed;
			inset: 0 0 auto auto;
			width: min(300px, 85vw);
			height: 100vh;
			overflow-y: auto;
			background: var(--clr-w);
			padding: 0.5rem 1.5rem 1.25rem 1.5rem;	
			transform: translateX(100vw);
		}


		button[title^=open][aria-expanded=true] + &-container {
			transform: translate(0);
		}

	



		&,
		&-container,
		& ul[class^=nav-] {
			flex-direction: column;
			justify-content: start;
		}


		& ul.nav-users {
			margin-block-start: 2rem;
			align-items: center;
			width: 100%;

			a {
				width: 100%;
				text-align: center;
			}
		}


		button[title$=menu] {
			display: flex;

			&[title^=close] {
				--icon-size: 40px;
				margin: 1rem 0;
				margin-inline-start: auto;
			}
		}
	}


}





.hero {
	--img-order: -1;
	--direction: column;
	--img-fit: cover;
	--content-offset: var(--_grid-offset);
	--grid-column: full;

	display: flex;
	gap: 0.5rem 4rem;
	flex-direction: var(--direction);
	grid-column: var(--grid-column);
	margin-top: 1rem;

	&>picture {
		display: contents;
	}


	&-image {
		order: var(--img-order);
		object-fit: var(--img-fit);
		height: min(40vw, 200px);
		width: 100%;
		object-position: top;


	}



	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1.5rem 1rem;
		margin-inline: var(--content-offset);
		margin-top: 3rem;



		h1 {
			font-size: var(--step-5);
			line-height: 0.9;
		}

		p {
			color: var(--clr-grey);
			font-weight: 500;
		}

		a {
			width: fit-content;
			padding: 1rem 1.25rem;
			background: var(--clr-black);
			border: 1px solid var(--clr-black);
			border-radius: 1vmax;
			color: var(--clr-white);
			text-decoration: none;
			line-height: 1;
			font-weight: 600;

			&:focus-visible {
				outline: 2px solid currentColor;
				outline-offset: -4px;
			}

			&:hover {
				background: transparent;
				color: var(--clr-black);
			}



		}


		ul.list-clients {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 1.45rem 2rem;
			width: 100%;
			margin-inline: 0;
			list-style: none;
			margin-top: 1.5rem;

			li {
				display: contents;
			}

			img {
				flex-shrink: 3;
			}


		}


	}


	@media (min-width: 55rem) {

		--img-order: unset;
		--direction: row;
		--img-fit: contain;
		--content-offset: 0;
		--grid-column: content;




		&-image {
			height: min(80vh, 600px);
			width: 46vw;

		}

		&-content {

			margin-top: 0rem;
			gap: 2rem;
			margin-block-start: auto;
			text-align: left;
			align-items: start;

			a {

				margin-top: 1rem;
			}


			ul.list-clients {
				margin-top: 2rem;
				justify-content: space-between;
				gap: 0.45rem 0.5rem;
			}

		}
	}


}
