.lcard {
	--icon-clr: hsl(208deg 92% 53%);
	--bar-height: 7px;

	display: grid;
	gap: 1.25rem;
	place-content: center;
	place-items: center;
	cursor: pointer;
	position: relative;
	background: var(--clr-blue-gray);
	border: 0.2px solid var(--clr-grey);
	border-radius: var(--radius);
	min-height: 200px;
	padding: 1.25rem 0.25rem;


	&:hover {
		background: var(--clr-white);
		box-shadow: 0 2px 6px -2px var(--clr-grey);
	}


	&::before {
		content: "";
		position: absolute;
		inset: 0 0 auto 0;
		width: 100%;
		height: var(--bar-height);
		background: var(--border-bg);
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}


	&-social, &-change {
		--icon-size: 20px;
		--clr: var(--clr-text-pale);
		--gap: 0.25rem;

		display: flex;
		align-items: center;
		gap: var(--gap);


		svg {
			width: var(--icon-size);
		}

	}


	&-social {
	
		strong {
			color: var(--clr);
			font-size: var(--step-n1);
			font-weight: 600;
		}

		svg {
			color: var(--icon-clr);
		}
	
	}

	&-followers {
		--spacing: 7px;

		display: grid;
		place-items: center;
		gap: 0.25rem;


		strong {
			letter-spacing: -2px;
			font-size: var(--step-5);
			font-weight: 700;
		}


		span {
			padding-inline-start: var(--spacing);
			text-transform: uppercase;
			letter-spacing: var(--spacing);
			color: var(--clr-text-pale);
			font-size: var(--step-n1);
			font-weight: 300;
		}
	}




	&-change {
		--icon-size: 10px;
		color: var(--clr);
		
		span {
			font-size: var(--step-n2);
			font-weight: 700;
	
		}
		
	}

}






.card {
	--icon-clr: hsl(208deg 92% 53%); 

	display: grid;
	gap: 1.25rem;
	align-content: space-between;
	padding: 1.35rem 1.25rem;
	background: var(--clr-blue-gray);
	cursor: pointer;
	border: 0.2px solid var(--clr-grey);
	border-radius: var(--radius);
	min-height: 100px;

	&:hover {
		background: var(--clr-white);
		box-shadow: 0 2px 6px -2px var(--clr-grey);
	}


	&-event, &-numbers {
		--icon-size: 20px;


		display: flex;
		align-items: center;
		justify-content: space-between;

		svg {
			width: var(--icon-size);
		}
	}


	&-event {
		--icon-size: 30px;
		

		h3 {
			font-size: var(--step-n1);
			font-weight: 700;
			color: var(--clr-text-pale);
		}

		svg {
			color: var(--icon-clr);
		}
	}


	&-numbers {
		strong {
			letter-spacing: -0.5px;
			font-size: var(--step-2);
			font-weight: 700;
		}
	}


	&-change {
		--icon-size: 15px;
		
		align-self: end;
		display: flex;
		align-items: center;
		gap: 0.15rem;
		color: var(--clr);

		span {
			line-height: 0.9;
			font-size: var(--step-n2);
			font-weight: 700;
		}
		
	}

}
