.header {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	padding-block: 1.75rem;

	&-heading {
		display: grid;
		gap: 0.75rem;
		line-height: 0.9;
	}

	h1 {
		font-size: var(--step-2);
		font-weight: 600;
	}


	h1 + p {
		font-size: var(--step-n1);
		font-weight: 700;
		color: var(--clr-text-pale);
	}



	&-theme {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		background: none;
		border: none;
		font-size: var(--step-n1);
		font-weight: 700;
		color: var(--clr-text-pale);
	}


	&-theme-toggle {
		display: flex;
		background: linear-gradient(90deg, var(--clr-facebook), var(--clr-green) 70% 100%);
		position: relative;
		height: 25px;
		aspect-ratio: 4 / 2;
		border: 0.5px solid var(--clr-grey);
		border-radius: 100vmax;
		padding: 2px;
		box-shadow: 0 2px 6px -2px var(--clr-grey);


		&::before {
			content: '';
			height: 100%;
			aspect-ratio: 1;
			flex: 0 0 auto;
			border-radius: 100%;
			background: var(--clr-white);
		}
	}


}

main {
	margin-top: 1rem;
}


ul.list-featured , ul.list-today{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr ));
	gap: 1rem;
	list-style: none;


	li {
		display: contents;
	}
}



.overview {
	margin-top: 2.5rem;

	&-heading {
		font-size: var(--step-1);
		font-weight: 700;
		color: var(--clr-text-pale);
		margin-bottom: 1.5rem;
	}


}



footer {
	margin-top: 0.5rem;
	padding: 1.5rem 0;
	font-size: var(--step-n1);
	color: var(--clr-text-pale);


	a {
		color: var(--clr-text);
		font-weight: 900;
		text-decoration: 2px underline var(--clr-text);
	}
}
